# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# MyPy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Local data
*.sqlite3
*.db

# Backup files
*~
*.bak

# Other
*.pkl
*.h5